.scrollbar-container {
    width: 100%;
    height: 14px;
    display: flex;
}

.scrollbar-background {
    height: 100%;
    flex-grow: 1;
    margin: 0 -2px;
    padding: 0 1px;
    overflow: hidden;
    display: flex;
    z-index: 2;

    background-color: rgb(248,248,248);
    border-top: 1px solid rgb(231,231,231);
    border-bottom: 1px solid rgb(231,231,231);

    box-sizing: border-box;
}

.scrollbar-background-round {
    /*margin: 0 18px;*/
    padding: 0 3px;
    border-radius: 6px;
    border: none;
    background-color: rgb(244,244,244);
}

.scrollbar-area {
    height: 100%;
    flex-grow: 1;
    position: relative;
}

.scrollbar-filter {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgba(164,194,252,0.5);
}

.scrollbar-thumb {
    position: absolute;
    top: 2px;
    bottom: 2px;
    background-color: rgb(195,195,195);
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 150ms ease;
}

.scrollbar-thumb:hover,
.scrollbar-thumb[dark=true]
{
    background-color: rgb(125,125,125);
}

