.facet-blueprint {
    height: 100%;
}

.facet-hoverable-buttons {
    right: unset;
    left: 0;
    top: -34px;
}

.facet-bars-value-background {
    transition: background-color 256ms, margin-left 200ms ease-out;
    background-color: #EAEBEC;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    height: 100%;
    z-index: -1;
}

.facet-bars-value-bar {
    width: 100%;
    background-color: #255DCC;
    transition: height 200ms ease-out;
}

:host([facet-hover=true]) .facet-bars-value-background {
    background-color: #F7F7F7;
    transition: background-color 0ms;
}

:host([facet-hover=true]) .facet-bars-value-bar {
    background-color: #A4C2FC;
    transition: background-color 0ms;
}

:host([facet-hover=true]) .facet-bars-value-background:hover {
    background-color: #EAEBEC;
}

:host([facet-hover=true]) .facet-bars-value-background:hover .facet-bars-value-bar {
    background-color: #255DCC;
}
