.facet-blueprint {
    background-color: #F0F1F2;
    overflow: hidden;
}

.facet-blueprint-content {
    padding: 2px 15px 0 10px;
}

.facet-timeline-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
}

.facet-bars-base-values-container {
    min-height: 34px;
}

.facet-bars-base-values-container ::slotted(.facet-bars-base-container) {
    z-index: 1;
}
