.facet-blueprint {
    background-color: #F0F1F2;
    overflow: hidden;
}

.facet-blueprint-content {
    padding: 2px 10px 0;
}

.facet-timeline-content {
    position: relative;
}

.facet-bars-base-values-container {
    min-height: 34px;
}

.facet-bars-base-values-container ::slotted(.facet-bars-base-container) {
    z-index: 1;
}
