/* .facet-bars-value-background */

:host(:not([theme])[facet-value-state="normal"]) .facet-bars-value-background,
:host([theme="default"][facet-value-state="normal"]) .facet-bars-value-background
{
    background-color: #EAEBEC;
}

:host(:not([theme])[contrast=true][facet-value-state="normal"]) .facet-bars-value-background,
:host([theme="default"][contrast=true][facet-value-state="normal"]) .facet-bars-value-background
{
    background-color: #F7F7F7;
}

:host(:not([theme])[contrast=true][facet-value-state="normal"]):hover .facet-bars-value-background,
:host([theme="default"][contrast=true][facet-value-state="normal"]):hover .facet-bars-value-background
{
    background-color: #EAEBEC;
}

:host(:not([theme])[facet-value-state="selected"]) .facet-bars-value-background,
:host([theme="default"][facet-value-state="selected"]) .facet-bars-value-background
{
    background-color: #EBF1FC;
}

:host(:not([theme])[contrast=true][facet-value-state="selected"]) .facet-bars-value-background,
:host([theme="default"][contrast=true][facet-value-state="selected"]) .facet-bars-value-background
{
    background-color: #EAEBEC;
}

:host(:not([theme])[contrast=true][facet-value-state="selected"]:hover) .facet-bars-value-background,
:host([theme="default"][contrast=true][facet-value-state="selected"]:hover) .facet-bars-value-background
{
    background-color: #EAEBEC;
}

:host(:not([theme])[facet-value-state="unselected"]) .facet-bars-value-background,
:host([theme="default"][facet-value-state="unselected"]) .facet-bars-value-background
{
    background-color: #EAEBEC;
}

:host(:not([theme])[contrast=true][facet-value-state="unselected"]) .facet-bars-value-background,
:host([theme="default"][contrast=true][facet-value-state="unselected"]) .facet-bars-value-background
{
    background-color: #F7F7F7;
}

:host(:not([theme])[contrast=true][facet-value-state="unselected"]:hover) .facet-bars-value-background,
:host([theme="default"][contrast=true][facet-value-state="unselected"]:hover) .facet-bars-value-background
{
    background-color: #EBF1FC;
}

:host(:not([theme])[facet-value-state="muted"]) .facet-bars-value-background,
:host([theme="default"][facet-value-state="muted"]) .facet-bars-value-background
{
    background-color: #EAEBEC;
}

:host(:not([theme])[contrast=true][facet-value-state="muted"]) .facet-bars-value-background,
:host([theme="default"][contrast=true][facet-value-state="muted"]) .facet-bars-value-background
{
    background-color: #F7F7F7;
}

:host(:not([theme])[contrast=true][facet-value-state="muted"]:hover) .facet-bars-value-background,
:host([theme="default"][contrast=true][facet-value-state="muted"]:hover) .facet-bars-value-background
{
    background-color: #EBF1FC;
}




/* .facet-bars-value-bar-0 */

:host(:not([theme])[facet-value-state="normal"]) .facet-bars-value-bar-0,
:host([theme="default"][facet-value-state="normal"]) .facet-bars-value-bar-0
{
    background-color: #255DCC;
}

:host(:not([theme])[contrast=true][facet-value-state="normal"]) .facet-bars-value-bar-0,
:host([theme="default"][contrast=true][facet-value-state="normal"]) .facet-bars-value-bar-0
{
    background-color: #A4C2FC;
}

:host(:not([theme])[contrast=true][facet-value-state="normal"]:hover) .facet-bars-value-bar-0,
:host([theme="default"][contrast=true][facet-value-state="normal"]:hover) .facet-bars-value-bar-0
{
    background-color: #255DCC;
}

:host(:not([theme])[facet-value-state="selected"]) .facet-bars-value-bar-0,
:host([theme="default"][facet-value-state="selected"]) .facet-bars-value-bar-0
{
    background-color: #255DCC;
}

:host(:not([theme])[contrast=true][facet-value-state="selected"]) .facet-bars-value-bar-0,
:host([theme="default"][contrast=true][facet-value-state="selected"]) .facet-bars-value-bar-0
{
    background-color: #A4C2FC;
}

:host(:not([theme])[contrast=true][facet-value-state="selected"]:hover) .facet-bars-value-bar-0,
:host([theme="default"][contrast=true][facet-value-state="selected"]:hover) .facet-bars-value-bar-0
{
    background-color: #255DCC;
}

:host(:not([theme])[facet-value-state="unselected"]) .facet-bars-value-bar-0,
:host([theme="default"][facet-value-state="unselected"]) .facet-bars-value-bar-0
{
    background-color: #C2C3C4;
}

:host(:not([theme])[contrast=true][facet-value-state="unselected"]) .facet-bars-value-bar-0,
:host([theme="default"][contrast=true][facet-value-state="unselected"]) .facet-bars-value-bar-0
{
    background-color: #D9DADB;
}

:host(:not([theme])[contrast=true][facet-value-state="unselected"]:hover) .facet-bars-value-bar-0,
:host([theme="default"][contrast=true][facet-value-state="unselected"]:hover) .facet-bars-value-bar-0
{
    background-color: #255DCC;
}

:host(:not([theme])[facet-value-state="muted"]) .facet-bars-value-bar-0,
:host([theme="default"][facet-value-state="muted"]) .facet-bars-value-bar-0
{
    background-color: #C2C3C4;
}

:host(:not([theme])[contrast=true][facet-value-state="muted"]) .facet-bars-value-bar-0,
:host([theme="default"][contrast=true][facet-value-state="muted"]) .facet-bars-value-bar-0
{
    background-color: #D9DADB;
}

:host(:not([theme])[contrast=true][facet-value-state="muted"]:hover) .facet-bars-value-bar-0,
:host([theme="default"][contrast=true][facet-value-state="muted"]:hover) .facet-bars-value-bar-0
{
    background-color: #255DCC;
}




/* .facet-bars-value-bar-1 */

:host(:not([theme])[facet-value-state="normal"]) .facet-bars-value-bar-1,
:host([theme="default"][facet-value-state="normal"]) .facet-bars-value-bar-1
{
    background-color: #C2C3C4;
}

:host(:not([theme])[contrast=true][facet-value-state="normal"]) .facet-bars-value-bar-1,
:host([theme="default"][contrast=true][facet-value-state="normal"]) .facet-bars-value-bar-1
{
    background-color: #D9DADB;
}

:host(:not([theme])[contrast=true][facet-value-state="normal"]:hover) .facet-bars-value-bar-1,
:host([theme="default"][contrast=true][facet-value-state="normal"]:hover) .facet-bars-value-bar-1
{
    background-color: #C2C3C4;
}

:host(:not([theme])[facet-value-state="selected"]) .facet-bars-value-bar-1,
:host([theme="default"][facet-value-state="selected"]) .facet-bars-value-bar-1
{
    background-color: #C2C3C4;
}

:host(:not([theme])[contrast=true][facet-value-state="selected"]) .facet-bars-value-bar-1,
:host([theme="default"][contrast=true][facet-value-state="selected"]) .facet-bars-value-bar-1
{
    background-color: #D9DADB;
}

:host(:not([theme])[contrast=true][facet-value-state="selected"]:hover) .facet-bars-value-bar-1,
:host([theme="default"][contrast=true][facet-value-state="selected"]:hover) .facet-bars-value-bar-1
{
    background-color: #C2C3C4;
}

:host(:not([theme])[facet-value-state="unselected"]) .facet-bars-value-bar-1,
:host([theme="default"][facet-value-state="unselected"]) .facet-bars-value-bar-1
{
    background-color: #D9DADB;
}

:host(:not([theme])[contrast=true][facet-value-state="unselected"]) .facet-bars-value-bar-1,
:host([theme="default"][contrast=true][facet-value-state="unselected"]) .facet-bars-value-bar-1
{
    background-color: #EAEBEC;
}

:host(:not([theme])[contrast=true][facet-value-state="unselected"]:hover) .facet-bars-value-bar-1,
:host([theme="default"][contrast=true][facet-value-state="unselected"]:hover) .facet-bars-value-bar-1
{
    background-color: #C4D9FC;
}

:host(:not([theme])[facet-value-state="muted"]) .facet-bars-value-bar-1,
:host([theme="default"][facet-value-state="muted"]) .facet-bars-value-bar-1
{
    background-color: #D9DADB;
}

:host(:not([theme])[contrast=true][facet-value-state="muted"]) .facet-bars-value-bar-1,
:host([theme="default"][contrast=true][facet-value-state="muted"]) .facet-bars-value-bar-1
{
    background-color: #EAEBEC;
}

:host(:not([theme])[contrast=true][facet-value-state="muted"]:hover) .facet-bars-value-bar-1,
:host([theme="default"][contrast=true][facet-value-state="muted"]:hover) .facet-bars-value-bar-1
{
    background-color: #C4D9FC;
}




/* facet-value-state="loading" */

:host(:not([theme])[facet-value-state="loading"]) .facet-bars-value-background,
:host([theme="default"][facet-value-state="loading"]) .facet-bars-value-background
{
    background-color: #F7F7F7;
}

:host(:not([theme])[facet-value-state="loading"]) .facet-bars-value-bar-1,
:host(:not([theme])[facet-value-state="loading"]) .facet-bars-value-bar-0,
:host([theme="default"][facet-value-state="loading"]) .facet-bars-value-bar-1,
:host([theme="default"][facet-value-state="loading"]) .facet-bars-value-bar-0
{
    background-color: #ECECEC;
}
