:host {
    flex-grow: 1;
    margin-right: 1px;
}

.facet-blueprint {
    height: 100%;
}

.facet-hoverable-buttons {
    right: unset;
    left: 0;
    top: -29px;
}

.facet-bars-value-background {
    transition: margin-left 200ms ease-out, background-color 128ms ease-out;
    position: relative;
    cursor: pointer;
    height: 100%;
}

:host([facet-value-state="normal"][facet-hovered="false"]) .facet-bars-value-background {
    background-color: #EAEBEC;
}

:host([facet-value-state="normal"][facet-hovered="true"]) .facet-bars-value-background {
    background-color: #F7F7F7;
}

:host([facet-value-state="normal"][facet-hovered="true"]) .facet-blueprint:hover .facet-bars-value-background {
    background-color: #EAEBEC;
}

:host([facet-value-state="highlighted"][facet-hovered="false"]) .facet-bars-value-background {
    background-color: #EBF1FC;
}

:host([facet-value-state="highlighted"][facet-hovered="true"]) .facet-bars-value-background {
    background-color: #EAEBEC;
}

:host([facet-value-state="highlighted"][facet-hovered="true"]) .facet-blueprint:hover .facet-bars-value-background {
    background-color: #EAEBEC;
}

:host([facet-value-state="muted"][facet-hovered="false"]) .facet-bars-value-background {
    background-color: #EAEBEC;
}

:host([facet-value-state="muted"][facet-hovered="true"]) .facet-bars-value-background {
    background-color: #F7F7F7;
}

:host([facet-value-state="muted"][facet-hovered="true"]) .facet-blueprint:hover .facet-bars-value-background {
    background-color: #EBF1FC;
}

.facet-bars-value-bar-total {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: height 200ms ease-out, background-color 128ms ease-out;
}

:host([facet-hovered="false"]) .facet-bars-value-bar-total {
    background-color: #C2C3C4;
}

:host([facet-hovered="true"]) .facet-bars-value-bar-total {
    background-color: #D9DADB;
}

:host([facet-hovered="true"]) .facet-blueprint:hover .facet-bars-value-bar-total {
    background-color: #C2C3C4;
}

.facet-bars-value-bar {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: height 200ms ease-out, background-color 128ms ease-out;
}

:host([facet-value-state="normal"][facet-hovered="false"]) .facet-bars-value-bar {
    background-color: #255DCC;
}

:host([facet-value-state="normal"][facet-hovered="true"]) .facet-bars-value-bar {
    background-color: #A4C2FC;
}

:host([facet-value-state="normal"][facet-hovered="true"]) .facet-blueprint:hover .facet-bars-value-bar {
    background-color: #255DCC;
}

:host([facet-value-state="highlighted"][facet-hovered="false"]) .facet-bars-value-bar {
    background-color: #255DCC;
}

:host([facet-value-state="highlighted"][facet-hovered="true"]) .facet-bars-value-bar {
    background-color: #A4C2FC;
}

:host([facet-value-state="highlighted"][facet-hovered="true"]) .facet-blueprint:hover .facet-bars-value-bar {
    background-color: #255DCC;
}

:host([facet-value-state="muted"][facet-hovered="false"]) .facet-bars-value-bar {
    background-color: #C2C3C4;
}

:host([facet-value-state="muted"][facet-hovered="true"]) .facet-bars-value-bar {
    background-color: #D9DADB;
}

:host([facet-value-state="muted"][facet-hovered="true"]) .facet-blueprint:hover .facet-bars-value-bar {
    background-color: #255DCC;
}
