/* .facet-bars-value-background */
:host([theme="timeline"]) .facet-bars-value-background
{
    background-color: transparent;
}


/* .facet-bars-value-bar-total */
:host([theme="timeline"]) .facet-bars-value-bar-total
{
    background-color: #EAEBEC;
}


/* .facet-bars-value-bar */
:host([theme="timeline"]) .facet-bars-value-bar
{
    background-color: #2B6AC1;
}

:host([theme="timeline"][facet-value-state="muted"]) .facet-bars-value-bar
{
    background-color: #D9DADB;
}


/* facet-value-state="loading" */

:host([theme="timeline"][facet-value-state="loading"]) .facet-bars-value-background
{
    background-color: #F0F1F2;
}

:host([theme="timeline"][facet-value-state="loading"]) .facet-bars-value-bar-total,
:host([theme="timeline"][facet-value-state="loading"]) .facet-bars-value-bar
{
    background-color: #ECECEC;
}
