:host {
    display: flex;
}

.facet-bars-base-values-container {
    height: 100%;
    min-height: 64px;
    display: flex;
    align-items: stretch;
    margin: 0 1px;
}

.facet-bars-base-values-container ::slotted(.facet-bars-base-container) {
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
