.facet-container {
    width: 300px;
}

.example-header {
    background-color: #e5e5e5;
    border: 5px solid white;
    padding: 3px;
    font-family: monospace;
    font-size: 14px;
    color: #454545;
}

.image-left {
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
}

.big-value {
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
}

.geotime-header {
    height: 100px;
    background-image: url("img/geotime.png");
    background-size: contain;
    margin: 5px;
}

.employee-header {
    height: 100px;
    background-image: url("img/hackathon-ar-action.jpg");
    background-size: cover;
    margin: 5px;
}

.slot-header {
    background-color: #ff0000;
    padding: 5px;
    font-family: monospace;
    font-size: 13px;
    color: white;
    text-align: center;
    border: 1px solid black;
}

.slot-footer {
    background-color: #00ff00;
    padding: 5px;
    font-family: monospace;
    font-size: 13px;
    color: gray;
    text-align: center;
    border: 1px solid black;
}

.slot-left {
    background-color: #0000ff;
    padding: 0 5px;
    font-family: monospace;
    font-size: 13px;
    color: white;
    text-align: center;
    border: 1px solid black;
    height: 100%;
    display: flex;
    align-items: center;
    max-width: 44px;
}

.slot-right {
    background-color: #ffff00;
    padding: 0 5px;
    font-family: monospace;
    font-size: 13px;
    color: gray;
    text-align: center;
    border: 1px solid black;
    height: 100%;
    display: flex;
    align-items: center;
    max-width: 44px;
}

/* text styles */
code {
    padding: 1px;
    background-color: #d5d5d5;
    border: 1px solid #767676;
    font-family: monospace;
    font-size: 13px;
}

.annotation {
    color: #767676;
    font-family: monospace;
    font-size: 13px;
    margin: 6px 0;
}

.code-block {
    padding: 1px;
    background-color: #d5d5d5;
    border: 1px solid #767676;
    font-family: monospace;
    font-size: 13px;
}
