.facet-blueprint-content {
    display: flex;
}

.facet-bars-hover-tab {
    width: 4px;
    margin-right: 4px;
}

.facet-blueprint-body:hover .facet-bars-hover-tab {
    background-color: #255DCC;
}

.facet-bars-container {
    flex-grow: 1;
    padding: 4px 8px 4px 0;
    display: flex;
}

.facet-bars-header-label {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.facet-bars-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.facet-bars-values {
    min-height: 64px;
    flex-grow: 1;
    margin: 0 16px;

    display: flex;
    align-items: stretch;
}

.facet-bars-values > facet-bars-values {
    flex-grow: 1;
}

.facet-bars-labels {
    margin: 0 16px;
}

