.facet-blueprint-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 4px 8px 4px 0;
    margin: 0 16px;
}

.facet-blueprint-left {
    border-left: 4px solid transparent;
}

:host(:hover) .facet-blueprint-left {
    border-left: 4px solid #255DCC;
}
