.facet-timeline-filter-handle-track {
    height: 16px;
    pointer-events: none;
}

.facet-timeline-filter-computed {
    position: absolute;
    pointer-events: none;
    user-select: none;
    -ms-user-select: none;
    top: 0;
    bottom: 0;
    padding: inherit;
    margin: -2px -2px 0;
}

.facet-timeline-filter-computed:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 0;
}

.facet-timeline-filter-computed:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 2px solid #FFC107;
    border-left: 2px solid #FFC107;
    border-right: 2px solid #FFC107;
    z-index: 2;
}

.facet-timeline-filter-computed[display-border*="no-right"]:after {
    border-right: none;
}

.facet-timeline-filter-computed[display-border*="no-left"]:after {
    border-left: none;
}

.facet-timeline-filter-computed[display-border*="no-border"]:after {
    border: none;
}

.facet-timeline-filter-handle {
    position: absolute;
    top: 0;
    width: 8px;
    height: 18px;
    cursor: ew-resize;
    pointer-events: all;

    background-color: #FFC107;

    z-index: 1;
}

.facet-timeline-filter-handle:before {
    content: '';
    position: absolute;
    top: 3px;
    bottom: 3px;
    width: 1px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.facet-timeline-filter-handle-left {
    left: -8px;
    border-radius: 2px 0 0 2px;
}

.facet-timeline-filter-handle-left:before {
    left: 3px;
}

.facet-timeline-filter-handle-right {
    right: -8px;
    border-radius: 0 2px 2px 0;
}

.facet-timeline-filter-handle-right:before {
    right: 3px;
}

.facet-timeline-date-label {
    position: absolute;
    top: 2px;

    color: #050D5C;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    z-index: 1;
    cursor: pointer;
    pointer-events: all;
}

.facet-timeline-date-label-left {
    text-align: left;
}

.facet-timeline-date-label-right {
    text-align: right;
}

.facet-timeline-selection-user {
    position: absolute;
    border: 1px dashed black;
    pointer-events: none;
    user-select: none;
    -ms-user-select: none;
    z-index: 1;
}

.facet-timeline-selection-computed {
    position: absolute;
    background-color: rgba(37,93,204, 0.15);
    border: 1px solid #255DCC;
    pointer-events: none;
    user-select: none;
    -ms-user-select: none;
    z-index: 1;
}

:host([filter-handle-track=false]) .facet-timeline-filter-handle-track {
    height: 2px;
}
:host([filter-handle-track=false]) .facet-timeline-date-label {
    text-shadow:
        -.5px -.5px 0 white,
        .5px -.5px 0 white,
        -.5px .5px 0 white,
        .5px .5px 0 white;
}
:host([filter-labels-interactive=false]) .facet-timeline-date-label {
    color: black;
    pointer-events: none;
    font-size: 10px;
}
