.facet-timeline-selection-computed {
    position: absolute;
    pointer-events: none;
    user-select: none;
    -ms-user-select: none;
    top: 0;
    bottom: 0;
    padding: inherit;
    margin: -2px -2px 0;
}

.facet-timeline-selection-computed:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 0;
}

.facet-timeline-selection-computed:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 2px solid #FFC107;
    border-left: 2px solid #FFC107;
    border-right: 2px solid #FFC107;
    z-index: 1;
}

.facet-timeline-selection-computed[display-border*="no-right"]:after {
    border-right: none;
}

.facet-timeline-selection-computed[display-border*="no-left"]:after {
    border-left: none;
}

.facet-timeline-selection-handle {
    position: absolute;
    top: 0;
    width: 8px;
    height: 12px;
    cursor: ew-resize;
    pointer-events: all;

    background-color: #FFC107;

    z-index: 1;
}

.facet-timeline-selection-handle:before {
    content: '';
    position: absolute;
    top: 3px;
    bottom: 3px;
    width: 1px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.facet-timeline-selection-handle-left {
    left: -8px;
    border-radius: 2px 0 0 2px;
}

.facet-timeline-selection-handle-left:before {
    left: 3px;
}

.facet-timeline-selection-handle-right {
    right: -8px;
    border-radius: 0 2px 2px 0;
}

.facet-timeline-selection-handle-right:before {
    right: 3px;
}

.facet-timeline-date-label {
    position: absolute;
    top: 2px;

    color: black;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 8px;
    font-style: normal;
    font-weight: 600;
    line-height: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    z-index: 1;
}

.facet-timeline-date-label-left {
    text-align: left;
}

.facet-timeline-date-label-right {
    text-align: right;
}
