:host {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.facet-bars-labels-row {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.facet-bars-labels-ticks {
    position: relative;
    height: 9px;
    margin-top: 2px;
}

.facet-bars-labels-tick {
    position: absolute;
    top: 0;
    bottom: 3px;
    width: 1px;
    background-color: #B2B3B4;
}

.facet-bars-labels-marker {
    position: absolute;
    top: 3px;
    bottom: 0;
    border-top: 1px solid #D9DADB;
}

.facet-bars-labels-marker:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #D9DADB;
    left: 50%;
}

.facet-bars-labels-text {
    position: relative;
    height: 10px;
    margin-top: 2px;
    color: #B2B3B4;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 10px;
    line-height: 10px;
}

.facet-bars-label {
    position: absolute;
    user-select: none;
    -ms-user-select: none;
}
